{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    ansible|资产(首页)
{% endblock %}
{% load staticfiles %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12　col-sm-8　col-md-9 col-lg-9">
                <div class="panel-heading">
                    <h3>Groups</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>GroupId</th>
                            <th>GroupName</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in display %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                                <td>
                                    <a href="{% url 'asset_detail' key %}">查看详情</a>
                                    <a href="{% url 'asset' key %}" style="margin-left: 2em;">添加host</a>
                                </td>
                            </tr>
                        {% empty %}
                            <p>暂无主机组分组信息</p>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}